body {
  background-image: url('./wallhaven-nkwyy6.jpg');
}

.menuBar{
  background: linear-gradient(to bottom, #0a003b, #00d5e0);
  height: 10vh;
  padding-left: 10vw;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.menuBut{
  background-color: transparent;
  transition: background-color 1s;
  color: white;
  font-size: 2vw;
  border: 0;
  margin-top: 1vh;
  border-radius: 15px;
  padding: 10px;
  margin-right: 2vw;
}
.menuBut:hover{
background-color: rgba(0, 0, 0, 0.5);
}

.mainPage{
  margin-left: 25vw;
  margin-right: 20vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 6vh;
}

.line{
  background-color: black;
  height: 4px;
  width: 55%;
  border-radius: 30px;
}

.profileTextBox, .bookingTextBox{
  border: 1px solid black;
  height: 35px;
  padding: 4px;
}
.bookingTextBox{
  background-color: white;
  font-weight: normal;
}
.tabContainer{
  width: 18vw;
  height:3vh;
  margin-left: 25vw;
  margin-right: 20vw;
  position: absolute;
  margin-top: 2vh;
}
.tab{
background-color: darkblue;
font-size: 20px;
width: 50%;
color: white;
padding-top: 3px;
height: 4vh;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.classSelect{
  width: 10vw;
  height: 35px;
  padding: 4px;
}

.timeSlotContainer{
  border: 1px solid black;
  padding: 30px;
  border-radius: 15px;
}

#yourBookingsTable{
width: 100%;
}


table, th, td {
  border:1px solid black;
}
